
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.shortcut-button {
    flex: 0 0 calc(20% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.shortcut-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shortcut-button button {
    padding: 15px 30px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shortcut-button button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.start-button {
    padding: 15px 30px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0056b3;
}
